/**************************
* ヘッダーエリア : Vue Lesson 1
**************************/
/* ヘッダー */
header {
  display: grid;
  place-items: center;
  height: 200px;
}

/* H1見出し */
.lesson-1 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

/* テキスト */
.lesson-1__text {
  margin-top: 10px;
  text-align: center;
}