.nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.nav-link {
  display: block;
  padding: 40px;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
}
.nav-item .home {
  background-color: black;
  color: #fff;
}
.nav-item .page-a {
  background-color: red;
}
.nav-item .page-b {
  background-color: yellow;
}
.nav-item .page-c {
  background-color: green;
}